@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

html, body, [class*="css"] {
    font-family: 'Roboto', sans-serif ;
    font-size: 18px;
    font-weight: 500;
    color: #091747;
}
.stSidebar  {
    margin: 2px 0px 5px 3px;
    border-radius:  7px 0px 0px 7px;

}
.stMainBlockContainer  {
    color: #2c4653;
}

.st-key-bio_photo img{
    margin:0rem;
    padding:.5rem;
    padding 10px !important;
    border-radius: 7px !important;
    border: 1px solid #2c4653 !important;
}

#ramana-rao-ambore-rambo {
    padding:0rem;
    font-weight:800;
}

#application-development-director {
    color: #e76801;
    font-weight: bold;
    padding-top: 0rem;
}
.stHorizontalBlock {
    gap:0.2;
    padding:1rem;
}

.text_link {

    font-weight: bold;
    color: #2c4653 !important;
    text-decoration: none !important; /* Underline on hover */

}
.text_link:hover {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Text shadow */
    transition: transform 0.3s; /* Smooth transition for hover effect */
    color: #2c4653; /* Text color on hover */
    text-decoration: none; /* Underline on hover */
    transform: scale(1.5)
}

.icon_text_div {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 22;
    padding:0rem;
}

.icon_widget {
    style='width: 30px;
    margin-right: 10px;
}