@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.main .block-container {
    max-width:1200px;
        color: #2c4653;

    padding: 0rem;


}


.stSidebar  {
    margin: 2px 0px 5px 3px;
    border-radius:  7px 0px 0px 7px;

}

.st-key-bio_photo img{
    border-radius: 7px !important;
    border: 1px solid #2c4653 !important;
    padding: 5px;
}

.st-key-profile_name h2{
    font-weight: 800 !important;
    padding-bottom:0px;
}

.st-key-profile_designation h4{
    color: #e76801;
    font-weight: bold !important;
    padding-top:0px;
}
.stHorizontalBlock {
gap:.5rem;



}

.href_icon, .no_href_icon {
    text-decoration: none !important; /* Underline on hover */
    width: 30px;
    margin-right:10px;

}

a {
    font-weight: bold;
    color: #2c4653 !important;
    text-decoration: none !important;
    transition: all 0.3s ease, color 0.1s ease;
}

a:hover {
    text-shadow: 0px 0px 10px rgbas(255, 255, 255, 0.8);
    text-decoration: underline !important;
    color: #ff0000 !important;

}
