.stMain {
    margin-left: 0px !important;
}

.stSidebar {
    margin: 2px 0px 5px 3px;
    border-radius: 7px 0px 0px 7px;
    width: 200px;

}

.stAppViewContainer {
    max-width: 1500px;
}

.stMainBlockContainer {
    padding-top: 1rem;
    padding-left: 1.5rem;
}

.st-key-profile_photo img {
    border-radius: 7px !important;
    border: 1px solid #2c4653 !important;
    padding: 5px;
}
.st-key-summary p{
    font-size:18px;
}
.st-key-profile_name h2 {
    font-weight: 800 !important;
    padding-bottom: 0px;
}

.st-key-profile_designation h4 {
    color: #e76801;
    font-weight: bold !important;
    padding-top: 0px;
}

.stHorizontalBlock {
    gap: .5rem;
    margin:.5rem;
}

.element-container { flex-direction: column !important; }


.href_icon, .no_href_icon {
    text-decoration: none !important;
    width: 30px;
    margin-right: 10px;
    margin-bottom:5px;
}

.icon_href_text_div

a {
    color: #2c4653 !important;
    text-decoration: none !important;
    transition: all 0.3s ease, color 0.1s ease;
}

a:hover {
    text-weight: bold;
    text-decoration: underline !important;
    color: #ff0000 !important;

}

.st-emotion-cache-d55atj hr {
    margin: 0rem 0px !important;
}

.st-key-education_container{
    padding:0px;
}

ul {
    margin-bottom: 5px;
}

.stExpander details {
    border-style: none !important;
    background: #ebf1f5 !important;
}

.st-key-contact_social {
    background-color: #fafafa !important;
    gap:.5rem !important;
    border-radius:10px !important;
}
.stHorizontalBlock {padding:0px !important;}

hr {
border-color: #e76801 !important; }

h5 {
padding: 0px !important;}

